<footer class="footer">
        <div class="footer-content">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-top__body">
                        <h2 class="footer-top__title title">let's discuss making your interior like a dream place!</h2>
                        <div class="footer-top__contacts">
                            <p class="footer-top__subtitle">Contact us below to work together to build your amazing interior</p>
                            <a class="btn footer-top__btn" href="./contacts.html">Contacts Us</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom__inner">
                        <div class="footer-bottom__content">
                            <a href="index.html"  class="logo">
                                <img src="./img/header-img/logo.svg" alt="logo" />
                            </a>
                            <p>One of the best furniture agency.</p>
                        </div>
                        <div class="footer-form__body">
                            <form class="footer-form">
                                <h4 for="email" class="footer-label">Enter your email to get the latest news</h4>
                                <div class="wave-group">
                                    <input  required="" type="text" class="_input" >
                                    <label class="label">
                                      <span class="label-char" style="--index: 0">E</span>
                                      <span class="label-char" style="--index: 1">m</span>
                                      <span class="label-char" style="--index: 2">a</span>
                                      <span class="label-char" style="--index: 3">i</span>
                                      <span class="label-char" style="--index: 4">l</span>
                                      <span class="label-char" style="--index: 5">&nbsp;</span>
                                      <span class="label-char" style="--index: 6">A</span>
                                      <span class="label-char" style="--index: 7">d</span>
                                      <span class="label-char" style="--index: 8">d</span>
                                      <span class="label-char" style="--index: 9">r</span>
                                      <span class="label-char" style="--index: 10">e</span>
                                      <span class="label-char" style="--index: 11">s</span>
                                      <span class="label-char" style="--index: 12">s</span>
                                    </label>
                                  </div>
                                <button type="submit" class="footer__submit">
                                    <img src="./img/footer-img/arrow-right.svg" alt="arrow">
                                </button>
                            </form>
                            <div class="footer-social">
                                <p class="footer-follow__text">Follow us On</p>
                                <div class="footer-icons">
                                    <a href="#" class="footer-icon">
                                        <img src="./img/footer-img/facebook.svg" alt="Facebook">
                                    </a>
                                    <a href="#" class="footer-icon">
                                        <img src="./img/footer-img/instagram.svg" alt="Instagram"></a>
                                    <a href="#" class="footer-icon"><img src="./img/footer-img/tiktok.svg" alt="TikTok"></a>
                                    <a href="#" class="footer-icon"><img src="./img/footer-img/youtube.svg" alt="YouTube"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>