        <header class="header" id="header">
            <div class="container">
                <div class="header-inner">
                    <a href="index.html"  class="logo">
                        <img src="./img/header-img/logo.svg" alt="logo" />
                    </a>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link underline active">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="./about.html" class="nav-link underline">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="./services.html" class="nav-link underline">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="./teams.html" class="nav-link underline">Our Team</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="menu" id="menu-toggle">
                        <div class="menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>     
                    <a class="btn nav-btn" target="_blank" href="./contacts.html">Contact Us</a>
                </div>
            </div>
        </header>
