.service-section{
    padding: clamp(1.25rem, 0.476rem + 3.26vw, 3.125rem) 0;
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 60px;
}

.service-item{
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 35px 25px;
}

.service-img{
    width: 60px;
    height: 60px;
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
}

.service-item_title{
    font-size: 20px;
}

.service-description{
    text-align: center;
    font-size: 16px;
    color: #9c9c9c;
    line-height: 1.5;
}

@media (max-width: 1181px){
    .service-list{
        justify-content: center;
        gap: 30px;
    }  
}

@media (max-width: 768px){
    .description-service, .service-title {
        text-align: center;
    }
}
